**
!dist/extension.js
!dist/mcp-server.js
!package.json
!README.md
!CHANGELOG.md
!FAQ.md
!LICENSE
!resources/**
!schema/**
!assets/faq/upload_changed_files_shortcut.png
!assets/showcase/remote-explorer.png
!docs/commands.md
!docs/common_configuration.md
!docs/configuration.md
!docs/ftp_configuration.md
!docs/home.md
!docs/network-interface.md
!docs/options.md
!docs/setting.md
!docs/sftp_configuration.md
!resources/mcp/conflict-resolution-instructions.md
